.button,
button,
[type='button'],
[type='reset'],
[type='submit'] {
	--button-background: var(--color-link-default);
	--button-color: #fff;
	background-color: var(--button-background);
	color: var(--button-color);
	border: 1px solid var(--button-background);
	border-radius: 0;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	white-space: nowrap;
	font: 600 0.8rem/1 'Source Serif 4';
	padding: 0 1rem;
	height: 2rem;
	transition:
		background-color 150ms,
		border-color 150ms;
}
a.button:where(:hover, :focus) {
	color: var(--button-color) !important;
}
:is(.button, button, [type='button'], [type='reset'], [type='submit']):where(:hover, :focus) {
	--button-background: var(--color-primary-intense);
}

:is(.button, button, [type='button'], [type='reset'], [type='submit']):where([disabled]) {
	filter: saturate(0);
	pointer-events: none;
	cursor: not-allowed;
}

.button-accent {
	--button-color: var(--color-dark);
	--button-background: var(--color-accent);
}
.button-accent:where(:hover, :focus) {
	--button-background: var(--color-accent-intense);
}
.button-group {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin: var(--space-sm) 0;
}
